@font-face {
    font-family: 'roboto';
    src: url('../font/roboto-bold_1-webfont.woff2') format('woff2'),
         url('../font/roboto-bold_1-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../font/roboto-light_1-webfont.woff2') format('woff2'),
         url('../font/roboto-light_1-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../font/roboto-lightitalic_1-webfont.woff2') format('woff2'),
         url('../font/roboto-lightitalic_1-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

* {
    box-sizing: border-box;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

p,h1,h2,h3{
    margin: 0;
    padding: 0;
}

a{ 
    text-decoration: none;
}

body {
    font-family: "roboto", Helvetica, sans-serif;
    margin: 0;
    line-height: 1.42;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    margin-bottom:-77px;
    min-width: 1100px;
}

.wrapper:after {
    content: '';
    display: block;
    height: 77px;
}

.header {
    background-color: #4b73b5;
    color: #ffffff;
    margin-bottom: 13px;
    font-weight: bold;
}

.header .container {
    height: 77px;
    align-items: center;
}

.logo__title {
    position: absolute;
    left: -9999px;
}

.header-contact {
    font-style: normal;
    text-align: right;
    margin-left: auto;
}

.header-contact__phone {
    color: inherit;
    font-style: normal;
    font-size: 22px;
    text-decoration: none;
}

.header-contact__time-link {
    opacity: 0.7;
    font-size: 14px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
}

.container {
    margin: 0 auto;
    width: 1060px;
    display: flex;
}

.sidebar {
    width: 155px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 35px;
}

.menu__list {
    text-align: left;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    transform: translateY(-6px);
}

.menu__item {
    list-style-type: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 30px;
}
.menu__item:last-child{
    margin-bottom: 0;
}

.menu__item-link {
    color: #4b73b5;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-weight: bold;
}

.menu__item-link:hover {
    color: #221f1f;
}

.menu__item-link::before {
    content: "";
    display: inline-block;
    vertical-align: inherit;
    width: 24px;
    height: 18px;
    background:  center center no-repeat;
    margin-right: 15px;
    margin-top: -5px;
    vertical-align: middle;
}

.menu__item-link--main::before {
    background: url("../img/icons/main_icon.png") center center no-repeat;
}

.menu__item-link--comments::before {
    background: url("../img/icons/feed_icon.png") center center no-repeat;
}

.menu__item-link--team:before {
    background: url("../img/icons/team_icon.png") center center no-repeat;
}

.menu__item-link--main:hover::before {
    background: url("../img/icons/main_icon_act.png") center center no-repeat;
}

.menu__item-link--comments:hover::before {
    background: url("../img/icons/feed_icon_active.png") center center no-repeat;
}

.menu__item-link--team:hover::before {
    background: url("../img/icons/team_icon_active.png") center center no-repeat;
}

.menu__item--active .menu__item-link {
    color: #221f1f
}

.menu__item--active .menu__item-link--main::before {
    background: url("../img/icons/main_icon_act.png") center center no-repeat;
}

.menu__item--active .menu__item-link--comments::before {
    background: url("../img/icons/feed_icon_active.png") center center no-repeat;
}

.menu__item--active .menu__item-link--team::before {
    background: url("../img/icons/team_icon_active.png") center center no-repeat;
}

.breadcrumps {
    margin-top: 28px;
    margin-bottom: 9px;
}

.breadcrumps__list {
    display: flex;
    flex-wrap: nowrap;
    font-size: 14px;
    font-style: italic;
    color: #4b73b5;
}

.breadcrumps__list-item {
    text-decoration: underline;
    margin-right: 6px;
}

.breadcrumps__list-item:before {
    content: " / ";
}

.breadcrumps__list-item:first-child:before {
    content: "";
}

.breadcrumps__list-item:last-child {
    text-decoration: none;
    color: black;
    margin-right: 0;
}

a {
    background-color: transparent;
}

.content {
    width: 880px;
    display: inline-block;
    vertical-align: top;
}

.banner__img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h1 {
    font-weight: bold;
    font-size: 49px;
    padding: 0;
}

.price__list {
    display: inline-block;
    text-align: center;
    padding: 0;
}

.price__item {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid transparent;
    border-radius: 5px;
    list-style: none;
    width: 250px;
    margin-left: 20px;
    padding: 40px 20px 45px;
}
.price__item--active, 
.price__item:hover {
    border: 1px solid #e8e9ed;
}
.price__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    background-color: #4b73b5;
}
.price__img-pic {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.price__title {
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    margin: 0 auto;
    padding: 4px 0 11px;
}

.price_desc {
    margin: 0 auto;
    width: 200px;
    font-size: 18px;
}

.price__block-list {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;
}

.price__block-item {
    text-align: left;
}

.price__block-item::before {
    background: #4b73b5;
    border-radius: 50%;
    content: '';
    width: 5px;
    height: 5px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.price__amount {
    font-weight: normal;
    font-size: 54.5px;
}

.price__current sub{
    bottom: 0;
    font-size: 60%;
}
.section-title,
.content-title--team,
.content-title--partners {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 49px;
}

.content-list__list {
    list-style: none;
    padding: 0;
    flex-direction: column;
}

.content-list__item {
    border-bottom: 2px solid #f5f5f5;
    padding-bottom: 30px;
    margin-bottom: 30px;
    display: inline-flex;
}

.content-list__img {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.content-list__img-pic {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.content-list__text {
    width: 665px;
    display: inline-block;
    vertical-align: top;
}

.content-list__text-date {
    font-weight: 300;
    color: #656464;
    font-size: 14px;
}

.content-list__text-title {
    font-size: 18px;
    margin: 0 auto;
    font-weight: bold;
}

.content-list__text-desc {
    font-weight: 300;
    color: #221f1f;
    line-height: 1.67;
    font-size: 18px;
}

.blockquote {
    background-color: #4bb56b;
    color: white;
}

.blockquote__content {
    max-width: 700px;
    padding: 50px 30px;
    font-size: 18px;
    margin: 0 auto;
    line-height: 30px;
}

.blockquote__content a {
    font-weight: 600;
}

u {
    color: white;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__item {
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px;
}

.pagination__item--active {
    background-color: #4b73b5;
    width: 25px;
    height: 25px;
    color: white;
}

.pagination__title {
    display: inline-block;
    color: #656464;
    font-size: 14px;
    margin-right: 20px;
}

.pagination__page {
    display: inline-block;
}

.pagination__list {
    display: inline-block;
    font-size: 14px;
    height: 10px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #221f1f;
    margin-bottom: 70px
}

.pagination__link {
    color: inherit;
}

.form {
    height: 100%;
    width: 100%;
}

.form__wrapper {
    padding: 70px 69px;
    background-color: #f5f5f5;
    width: 700px;
    border-radius: 3px;
    margin: 0 auto;
}

.form__title {
    font-size: 49px;
    font-weight: 700;
    margin-bottom: 30px;
}

.form__content {
    width: 100%;
    height: 100%;
}

.form__row {
    display: flex;
    margin-bottom: 20px;
}

.form__row:last-child {
    margin-bottom: 0;
}

.form__elem {
    margin-right: 20px;
    flex: 1;
}

.form__elem:last-child {
    margin-right: 0px;
}

.form__elem-title {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
}

.form__elem-input {
    width: 100%;
    height: 45px;
    padding-left: 10px;
    border-radius: 3px;
    background-color: #fff;
    outline: none;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 300;
}

.form__elem-input:focus {
    border-color: #87cefa;
}

.form__textarea {
    height: 88px;
    resize: none;
    padding: 10px;
}

.form__radio, .form__button {
    flex: 1;
}

.form__radio-wrap {
    display: flex;
}

.form__radio-label {
    display: flex;
    margin-right: 20px;
}

.form__radio-label:last-child {
    margin-right: 0;
}

.form__radio-input {
    display: none;
}

.form__radio-fake {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
    margin-right: 5px;
    transition: border 1s;
}

.form__radio-fake:after {
    content: '';
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #4b73b5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form__radio-input:checked + .form__radio-fake {
    border: 1px solid #4b73b5;
}

.form__radio-input:checked + .form__radio-fake:after {
    width: 8px;
    height: 8px;
}

.form__button {
    text-align: right;
}

.button {
    display: inline-block;
    padding: 15px 20px;
    background-color: #4b73b5;
    outline: none;
    border: 1px solid transparent;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .5s;
}

.button::after {
    background: url(/assets/img/icons/button_icon.png) center center no-repeat;
}

.button:hover {
    color: grey;
}

.team {
    display: flex;
    flex-wrap: wrap;
}

.team__list {
    width: 270px;
    text-align: center;
    line-height: 21px;
    margin-bottom: 45px;
    padding: 0 10px;
}

.team__img-wrap {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 17px;
}

.team__img-wrap:after {
    content: '';
    background: rgba(75, 115, 181, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.team__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.team__img-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 700;
    font-size: 24px;
    z-index: 1;
}

.team__desc-user {
    font-size: 16px;
    font-weight: 700;
    display: block;
}

.team__desc__occ {
    font-size: 14px;
    color: #4b73b5;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}

.team__desc-text {
    font-size: 14px;
    font-weight: 300;
    display: block;
    text-align: center;
}

.partner__list {
    display: flex;
    flex-wrap: wrap;
}

.partner__item {
    width: 33.3%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.partner__item-img {
    filter: grayscale(1);
}

.partner__item-img:hover {
    filter: grayscale(0);
}


.footer {
    background-color: #4b73b5;
    color: #ffffff;
}

.footer .container {
    width: 1060px;
    height: 77px;
    justify-content: space-between;
    align-items: center;
}

.footer__col {
    color: inherit;
    font-size: 14px;
}

.footer__col--left {
    left: 0;
    line-height: 1.29;
    margin-top: 11px;
}

.footer__col--middle {
    left: 50%;
    width: 120px;
}

.footer__col--right {
    right: 0;
}

.socials__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 0;
}

.socials__item-link {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    background-color: white;
    margin-top: 9px;
}

.social__item-logo {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
